<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <%= turbo_frame_tag "link" do %>
      <%= render 'form', link: @link %>
    <% end %>
  </div>
</div>
