<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <turbo-frame id="form">
      <%= render 'form', link: @link %>
    </turbo-frame>
    <!-- Content goes here -->
  </div>
</div>
